@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    <div class="col-md-9">

        <div class="row product-list">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box">
                            @if (product.ProductImagePath != null)
                            {
                                <img src="~/Content/image/product/@product.ProductImagePath" alt="Product img" />
                            }
                            else
                            {
                                <img src="https://kapaklitaxi.com/wp-content/uploads/2019/05/ef3-placeholder-image.jpg" alt="Error">
                            }
                            <a href="/Cart/AddToCart/@product.ID" class="adtocart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>

                        <div class="panel-body text-center">
                            <h4>
                               @Html.ActionLink(product.ProductName,"Details","Product",new {id=product.ID},new {@class = "pro-title"})
                            </h4>
                            <p class="price"> @product.UnitPrice</p>
                        </div>
                    </section>
                </div>
            }
        </div>
    </div>
</div>

